.chatwindow{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100% - 40px);

  .spacer{
    height: 35px;
  }

  .messageContainer{   
    flex-grow: 1;

    overflow-y: scroll;
    
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }

  }

  .chatBubble{
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    min-height: 50px;
    margin: 10px;
    border-radius: 12px;
    background: #ebf8ff;
    box-shadow:  6px 6px 11px #d6e2e8, 
             -6px -6px 11px #ffffff;        
      
    .chatmessage{
      padding-left: 20px;
      display: flex;
      flex-grow: 1;
    }
  }

  
}